@import '../scss/style.scss';


.gallerySecond {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 999;
    height: 100vh;
    display: none;
    img {
        max-height: 600rem;
    }
    &__header {
        padding: 30rem 40rem 10rem;
        display: flex;
        align-items: center;
        gap: 70rem;
    }
    &__icons {       
        display: flex;
        align-items: center;
        gap: 30rem;
        flex-grow: 1;
        img {
            max-width: 24rem;
            max-height: 24rem;
            cursor: pointer;
        }
        svg {
            width: 24rem;
            height: 24rem;
            cursor: pointer;            
        }
    }
    &__svg:active {
    svg path {
        fill: red;
        stroke: red;
    }
}
&__counter {
    @include text ($ff, 17rem, 30rem, 400, $black);
    z-index: 15;
    margin-right: auto;
    margin-left: -25rem;
}
&__close, &__expand {
    cursor: pointer;
    img {
        max-width: 35rem;
        max-height: 35rem;
        @include mobile {
            max-width: 24rem;
            max-height: 24rem;
        }
    }
}
&__expand {
    @include mobile {
        display: none;
    }
}
&__swiper {
    padding: 0 40rem;
    height: 100%;
    @include tablet-small {
        padding: 0;
    }    
}
.swiper-pagination-bullet {
    display: none;        
}
&__content {
    max-width: 70%;
    margin-inline: auto;
    height: 600rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    p {
        @include text ($ff, 50rem, 56rem, 400, $white);
        max-width: 284rem;
        text-align: center;
    }  
    
    @include tablet-small {
        max-width: 100%;
    }     
}
.swiper-button-prev, .swiper-button-next  {
    color: $black;
    max-height: 27rem;
}
}
.gallerySecond.active {
    display: block;
   
}