// fonts

$ff: 'Avenir LT';
$ff-add: 'Roboto';
$ff-titles: 'Futura LT';

// colors 

$black: #000;
$white: #fff;
$primary: #36383B;
$links: #515457;
$footer-grey: rgb(244, 244, 244);
$add-grey: #f4f4f4;
$blue-grey: #AABCBF;
$yellow: rgba(235, 181, 2, 1);
$light-blue: #E1EFF2;
$input: rgba(239, 239, 239, 0.3);

$transition: .4s all ease-in-out;

// breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;


