@import '../scss/style.scss';

.main-section {
    padding-bottom: 120rem;
    @include tablet {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 0;
    }
    &__carousel {
        max-height: 680px;
        margin-bottom: 60rem;
        @include tablet {           
            margin-bottom: 0;
        }
        img {
            max-height: 680px; 
        }
    }
    span {
        font-style: italic;
    }
    &__info {
        margin-inline: auto;
        max-width: 940rem;
        @include tablet {
            padding: 0 15rem;
        }
    }
    &__title {
        margin-bottom: 44rem;
        @include tablet {
            margin: 22rem 0 13rem;
        }
    }
    &__desc {        
        max-width: 780rem;
    }    
    p:not(:last-of-type){
        margin-bottom: 32rem;
        
    } 
    .swiper-button-prev, .swiper-button-next  {
        display: none;
    }     
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;        
    }
    .swiper-pagination-bullet-active {
        background: $white;
    }
}
#html .swiper-pagination {
    bottom: 40rem;
}