@import '../scss/style.scss';

.vision-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem;
    align-items: center;     
    img {
        height: 1060rem;
        filter:brightness(0.95);
    }
    @include tablet {
        grid-template-columns: 1fr;
        img {
            margin-bottom: 45rem;
            height: 240rem;
        }        
    }
    &__info {
        max-width: 460rem;
        margin-inline: auto;
        padding-top: 150rem;
        padding-bottom: 120rem;
        @include tablet {
            padding: 0 15rem; 
            text-align: center;
            max-width: 330rem;           
        }
    }
    &__desc {
        display: flex;
        flex-direction: column;
        gap: 28rem;
    } 
}