@import '../scss/style.scss';


.gallery {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 999;
    height: 100vh;
    display: none;
    &__header {
        padding: 30rem 20rem;
        display: flex;
        align-items: center;
    }
    &__icons {       
        display: flex;
        align-items: center;
        gap: 20rem;
        flex-grow: 1;
        img {
            max-width: 24rem;
            max-height: 24rem;
            cursor: pointer;
        }
        svg {
            width: 24rem;
            height: 24rem;
            cursor: pointer;            
        }
    }
    &__svg:active {
    svg path {
        fill: red;
        stroke: red;
    }
}
&__counter {
    @include text ($ff, 17rem, 30rem, 400, $black);
    z-index: 15;
    margin-right: auto;
}
&__close {
    cursor: pointer;
}

&__swiper {
    padding: 0 40rem;    
}
&__picture {
    max-width: 70%;
    margin-inline: auto;
    position: relative;    
}
.picture__small {
    position: absolute;
    bottom: 20rem;
    right: 30rem;
    z-index: 2;
    img {
        width: 70px;
        height: 40px;
        max-width: 70px;
    }
}

}
.gallery.active {
    display: block;
   
}