.header__mere {      
    position: relative;
    transition: $transition;
    @include tablet {
        display: none;
    }    
}

.mere__ul {
    position: absolute;
    right: 0;
    top: 35rem;
    min-width: 230px;
    text-align: right;    
    flex-direction: column;    
    display: none;
    a {
        line-height: 29rem;
    }      
}
.mere__ul.active {
    display: flex;
}
